<!--TOP MENU-->
<div class="horizontal-menu">
    <div class="menu-container">
        <div class="menu-left-container">
            <div class="menu-left-buton-burguer">
                <button class="normal-menu-item" (click)="toggleAppDrawerLeft()" mat-icon-button>
                    <mat-icon>menu</mat-icon>
                </button>
            </div>
            <div class="menu-left-menu-options hide-less-500" cdkMenu>
                <button cdkMenuItem class="normal-menu-item" routerLinkActive="mat-accent" routerLink="home">Inicio</button>
                <button cdkMenuItem class="normal-menu-item" routerLinkActive="mat-accent" routerLink="map">Mapa</button>
                <button cdkMenuItem class="normal-menu-item" routerLinkActive="mat-accent" routerLink="help">Ayuda</button>
                <button cdkMenuItem class="normal-menu-item" routerLinkActive="mat-accent" routerLink="about">Acerca de</button>
            </div>     
        </div>
        <div class="menu-right">
            @if (!appDrawerRight.opened) {
                <button class="normal-menu-item" routerLinkActive="mat-accent" (click)="toggleAppDrawerRight()" ><mat-icon>keyboard_arrow_left</mat-icon></button>
            }@else{
                <button class="normal-menu-item" routerLinkActive="mat-accent" (click)="toggleAppDrawerRight()" ><mat-icon>close</mat-icon></button>
            }
        </div>
    </div>
</div>

<mat-drawer-container class="mat-drawer-container" hasBackdrop="false">
    <!--LEFT SIDENAV-->
    <mat-drawer #appDrawerLeft class="drawer-left" mode="push" opened="false" position="start">
        <div class="drawer-left-menu-options border-top-white" cdkMenu>
            <button cdkMenuItem class="vertical-menu-item" routerLinkActive="mat-accent" routerLink="home"><mat-icon class="padding-rigth-10">home</mat-icon>Inicio</button>
            <button cdkMenuItem class="vertical-menu-item" routerLinkActive="mat-accent" routerLink="help"><mat-icon class="padding-rigth-10">map</mat-icon>Mapa</button>
            <button cdkMenuItem class="vertical-menu-item" routerLinkActive="mat-accent" routerLink="help"><mat-icon class="padding-rigth-10">help</mat-icon>Ayuda</button>
            <button cdkMenuItem class="vertical-menu-item" routerLinkActive="mat-accent" routerLink="about"><mat-icon class="padding-rigth-10">people</mat-icon>Acerca de</button>
        </div>     
    </mat-drawer>

    <!--RIGT SIDENAV-->
    <mat-drawer #appDrawerRight class="drawer-right" mode="over" opened="false" position="end">
        <div class="menu-container border-top-white">
            <div class="menu-left-menu-options" cdkMenu>
                <!--[routerLink]="[{ outlets: { primary: [''], sidebar: ['about'] } }]"-->
                <button cdkMenuItem class="normal-menu-item" routerLinkActive="mat-accent" [routerLink]="['',{outlets: {right_sidenav:['baunit'] }}]">Predio</button>
                <button cdkMenuItem class="normal-menu-item" routerLinkActive="mat-accent" [routerLink]="['',{outlets: {right_sidenav:['party'] }}]">Propietarios</button>
                <button cdkMenuItem class="normal-menu-item" routerLinkActive="mat-accent" [routerLink]="['',{outlets: {right_sidenav:['source'] }}]">Documentos</button>
                <button cdkMenuItem class="normal-menu-item" routerLinkActive="mat-accent" [routerLink]="['',{outlets: {right_sidenav:['image'] }}]">Imágenes</button>
            </div>     
        </div>

        <router-outlet name="right_sidenav"></router-outlet>
        
    </mat-drawer>
    <mat-drawer-content>
        <div class="height100">
            <router-outlet></router-outlet>
        </div>
    </mat-drawer-content>
</mat-drawer-container>
<footer></footer>
