<app-header></app-header>

<div class="flexbox-exterior-container">
    <div class="flexbox-responsive-interior-container flexbox-aling-left">
        <div class="text-align-center">
            <h5>App de toma de datos</h5>
        </div>

        <p>App para tomar datos sobre el terreno, 
            almacenarlos en el dispositivo, y enviarlos al servidor
            cuando se tenga conexion a internet</p>

        <p>Una vez suba los datos a internet, se le enviará
            un email para poder consultarlos.</p>
        
        <p>Igualmente se se enviará un email a los técnicos
            para que puedan revisar los datos del predio, 
            e iniciar el expediente.</p>

        <p>Para subir datos al servidor necesita una cuenta,
            que puede obtener <a href="">en este enlace</a></p>
        
        <p>A todos los propietarios de los predios se les creará 
            igualmente una cuenta para que puedan revisar sus datos
            y propiedades. Se les enviará un email de aviso,
            con un enlace para que establezcan su contraseña de 
            acceso.</p>
        
        <p>La versión actual permite lo siguiente:</p>
        
        <ul>
            <li>Almacenar en el dispositivo los datos de los propietarios</li>
            <li>Medir con GPS los perímetros del predio, y almacenarlos en el dispositivo</li>
            <li>Almacenar varios predios en el dispositivo</li>
            <li>Consultar los datos del dispositivo</li>
            <li>Iniciar sesión en el dispositivo</li>
            <li>Enviar los datos al servidor</li>
        </ul>

        <app-donwload-app-version></app-donwload-app-version>
        
        <app-upload-app-version 
            *showForRoles="showForRoles('upload.app.version.component')">
        </app-upload-app-version>
    </div>
</div>
<app-footer></app-footer>